<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Planets</title>
</head>
<body>
  <h1>Planets</h1>
  <nav>
    <a href="index">Home</a>
    <a href="customers">Customers</a>
    <a href="packages">Packages</a>
    <a href="planets">Planets</a>
    <a href ="shipment_invoices">Shipment Invoices</a>
    <a href="shipment_types">Shipment Types</a>
  </nav>
  <br>

  <div id="view">
    <table>
        <!-- Access data tuple passed from app.py --> 
        {% if data %}
            <thead>
                <tr>
                    <!-- Iterate through each key in the first entry to get the column name -->
                    {% for key in data[0].keys() %}
                    
                    <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                
                    <!-- End of this for loop -->
                    {% endfor %} 
                </tr>

            <tbody>
                <!-- Now, iterate through every item in data -->{% for item in data %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in item.keys() %}

                        <!-- Create a <td> element with the value of that key in it -->
                        <td> {{item[key]}} </td> 
                        {% endfor %}

                        <td><a href="edit_planets/{{item.planet_id}}" class="btn btn-default">Edit</a></td>
						<td><a href="delete_planets/{{item.planet_id}}" class="btn btn-default">Delete</a></td>

                    </tr> 
                    {% endfor %} 
            {% endif %} 
    </table>   
</div>
<br>

<div id="insert">
    <form method="POST" action="/planets" id="addPlanet">
        <legend>Add a Planet:</legend>
        <fieldset class="fields">
        
            <label for="planet_name">Planet Name</label>
            <input type="text" name="planet_name" required>

            <label for="distance_from_hq">Distance from HQ (in AU)</label>
            <input type="number" name="distance_from_hq" min="0" step="0.01" required>

            <label for="description">Planet Description</label>
            <input type="text" name="description" required>
            
        </fieldset>
        <input class ="btn" type="submit" value="Add Planet" name="Add_Planet">
    </form>
</div> <!-- end insert -->
<br>
